main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
/*  align: vertical 
    justify-content: horizontal
*/
.um{
    width: 20%;
    height: 100px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dois{
    width: 20%;
    height: 100px;
    background-color: purple;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.tres{
    width: 20%;
    height: 100px;
    background-color: blue;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}